<!DOCTYPE html>
<html>
    <head>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto');
    </style>
    </head>
    <header>
        <img height="100" width="252" src="https://ci4.googleusercontent.com/proxy/Ia5Fl073HWymt0_LBkYbSO4XEiaaxfuCaOzNicKWIPqPPls5jOmogM6rYIgyAVabJ-GdFyBvzBwdiQapaY8DZ8fLjfJjkyr-AQw_Ex4TKGxS5VbUDHD8N9ZmiHdK8610sz_bx3oMezdxQA=s0-d-e1-ft#https://stripe-images.s3.amazonaws.com/notifications/hosted/20180110/Header/Left.png"
        style="border:0;line-height:100%;width:100%;background-color: #aadce1;position:relative;top: 0;left: 0;" class="CToWUd">
    </header>
    <br>
    <body>
        <img src="https://preview.ibb.co/e0dREy/Untitled_3.png" style="width:200px;height:90px;">
        <br>
        <%= image_tag attachments['YourMuseumTicket.png'].url %>
        <h2 style="font-family:Roboto;">
        You have received  
        <% if @ticket.general && @ticket.general > 0 %> 
            <%= @ticket.general %> general admission <%= 'ticket'.pluralize(@ticket.general) %>, 
        <% end %>
        <% if @ticket.senior && @ticket.senior > 0 %> 
            <%= @ticket.senior %> senior admission <%= 'ticket'.pluralize(@ticket.senior) %>, 
        <% end %>
        <% if @ticket.military && @ticket.military > 0 %> 
            <%= @ticket.military %> military admission <%= 'ticket'.pluralize(@ticket.military) %>, 
        <% end %>
        <% if @ticket.child && @ticket.child > 0 %> 
            <%= @ticket.child %> child admission <%= 'ticket'.pluralize(@ticket.child) %>
        <% end %>
        <% if @ticket.recip_email %>
        from <%= @ticket.name %>
        <% end %>
        to the Museum of Life and Science!</h2>
        <h3 style="font-family:Roboto;">
            The museum will scan your QR Code for admission into the building.
        </h3>  
        <h3 style="font-family:Roboto;">
            Your QR Code will expire after your visit. This is a single-use ticket.
        </h3>  
        <h3 style="font-family:Roboto;">Thanks for attending the Museum of Life and Science, have a great day!
        </h3>
    </body>
</html>