<!DOCTYPE html>
<html>
  <head>
  <style type="text/css">
  table.qr-code {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }
  table.qr-code td {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 7px;
    height: 7px;
  }
  table.qr-code td.black { background-color: #000; }
  table.qr-code td.white { background-color: #fff; }
  </style>

  </head>
  <body>
    <h1>You have recieved  
    <% if @ticket.general %> 
      <%= @ticket.general %> general admission <%= 'ticket'.pluralize(@ticket.general) %>, 
    <% end %>
    <% if @ticket.senior %> 
      <%= @ticket.senior %> senior admission <%= 'ticket'.pluralize(@ticket.senior) %>, 
    <% end %>
    <% if @ticket.military %> 
      <%= @ticket.military %> military admission <%= 'ticket'.pluralize(@ticket.military) %>, 
    <% end %>
    <% if @ticket.child %> 
      <%= @ticket.child %> child admission <%= 'ticket'.pluralize(@ticket.child) %>
    <% end %>
    <% if @ticket.recip_email %>
        from <%= @ticket.name %>
    <% end %>
    to the Museum of Life and Science!</h1>
    <p>
      Here is your personal QR Code for admission into the building:
    </p>

    <%= image_tag @qr %>
  
    </body>

      <br>
    <p>Thanks for attending the Museum of Life and Science, have a great day!</p>
  </body>
</html>